* {
    font-family: "Candara";
    color: #202020;
    background-color: #6d6e86;
  }
  
  .container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .picture-explanation-container {
    display: flex;
    justify-content: center;
  }
  
  #picture {
    width: 50%;
    margin-right: 1rem;
  }
  
  #explanation {
    letter-spacing: 0px;
    line-height: 20px;

  }