*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Candara";
  font-size: 25px;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 105vw;
  height: 107vh;
  background-size: contain;
  background-image: url("../img/rick-and-morty-33920.png");
}
.container {
  display: flex;
  width: 3300px;
  max-width: 80%;
  min-width: 23%;
  padding: 0;
  margin-top: 117px;
  justify-content: center;
  align-items: center;
  background-color: #535bcf;
  border-radius: 2px;
  box-shadow: 1px 1px 11px 3px;
}
#input {
  background-color: #00a4a4;
  border-color: #faa85f;
}
#text {
  max-width: 80%;
  min-width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: #faa85f;
}
.btn-grid {
  justify-content: space-between;
  min-width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 23px;
  margin-top: 41px;
}
.btn {
  margin-top: 9px;
  margin-right: 7px;
  margin-left: 31px;
  margin-bottom: 11px;
  background-color: #346b70;
  border-color: #20dfa6;
  border-radius: 3px;
  padding: 4px 7px;
  color: #faa85f;
  outline: none;
}
.btn-go {
  margin-right: 7px;
  margin-left: 31px;
  margin-bottom: 11px;
  background-color: #00a4a4;
  border-color: #f1ec2e;
  border-radius: 3px;
  padding: 4px 7px;
  color: #53567b;
  outline: none;
}
.btn:hover {
  border-color: #202020;
  color: aquamarine;
}
