*, *::before, *::after
 {
    box-sizing: border-box;
    font-family: "Candara";
    background-color: grey;
}
body {
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: contain;
}
#apod_title {
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
    color: #faa85f;
    font-family: "Candara";
    font-size: 43px;

}
#img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    border-color: #faa85f;
    border-radius: 2px;
    box-shadow: 1px 1px 11px 3px;
}
.description {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
#apod_explanation { 
    display: flex;
    width: 500px;
    height: fit-content;
    font-family: "Candara";
    font-size: 25px;
    max-width: 80%;
    min-width: 33%;
    display: flex;
    align-items: center;
    color: #faa85f;
}