* {
  background-color: #45a6ad;
}
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Candara";
  font-size: 25px;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  background-size: contain;
}
.container {
  display: flex;
  width: 3300px;
  max-width: 80%;
  min-width: 23%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #53567b;
  border-radius: 2px;
  box-shadow: 1px 1px 11px 3px;
}

#input {
  max-width: 80%;
  min-width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: #faa85f;
}
h2 {
  display: flex;
  width: 3300px;
  max-width: 80%;
  min-width: 23%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #53567b;
  border-radius: 2px;
  box-shadow: 1px 1px 11px 3px;
}

footer {
  margin-top: 200px;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #202020;
}
p {
  font-size: 20px;
  background-color: #54781f;
}

/*Responsive*/
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .img-portal {
    width: 600px;
    height: 600px;
  }

  .character-image-container {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 50px;
  }
  .character-image-container-img {
    border-radius: 50%;
    width: 300px;
    height: auto;
    margin: 0 auto;
  }
}
