*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Candara";
    font-size: 25px;
}
body {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 105vw;
    height: 107vh;
    background-size: contain;
    background-image: url("rick-and-morty-33909.jpg");
}
/* .container {
    display: flex;
    width: 3300px;
    max-width: 80%;
    min-width: 23%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #53567b;
    border-radius: 2px;
    box-shadow: 1px 1px 11px 3px;

} */
.nasaPhotos {
    display: flex;
    width: 9300px;
    max-width: 80%;
    min-width: 23%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 1px 1px 11px 3px;
}
#apod_img_ofDay {
    display: flex;
    width: 700px;
    height: 700px;
    max-width: 80%;
    min-width: 23%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    border-radius: 2px;
    box-shadow: 1px 1px 11px 3px;
}
#apod_vid_id {
    
}
#apod_explanation { 
     max-width: 80%;
    min-width: 33%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: larger;
    color: #faa85f;

}
#apod_title {
 
}
/* #text {
    max-width: 80%;
    min-width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: #faa85f;
}
.btn-grid {
    justify-content: space-between;
    min-width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 23px;
    margin-top: 21px;
}
.btn {
    margin-right: 7px;
    margin-left: 31px;
    margin-bottom: 11px;
    background-color: #00a4a4;
    border-color: #f1ec2e;
    border-radius: 3px;
    padding: 4px 7px;
    color: #53567b;
    outline: none;
}
.btn-go {
    margin-right: 7px;
    margin-left: 31px;
    margin-bottom: 11px;
    background-color: #00a4a4;
    border-color: #f1ec2e;
    border-radius: 3px;
    padding: 4px 7px;
    color: #53567b;
    outline: none;
}
.btn:hover {
    border-color: #202020;
    color:aquamarine;
} */
